body {
  background-color: black;
}

h1 {
  text-align: center;
  font:"Helvetica Neue";
  color:white;

}

h2 {
  text-align: center;
  color:white;
  font:"Helvetica Neue";
}

h3 {
  text-align: center;
  color:white;
  font:"Helvetica Neue";
}

p{
  text-align: center;
  color:white;
  font:"Helvetica Neue";
}

a {
    display: block;
    font-size: 25px;
    text-align: center;
    color:white;
    font:"Helvetica Neue";
}

form{
    text-align: center;
    font:"Helvetica Neue";
    color:white;
    font-size: 20px;
}
